body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0px;
}

/*generique*/
.fontshrikhand {
  font-family: 'Shrikhand', cursive;
}

.flexcentre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexcentrecolum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexcentrecolumbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 270px;
}

.flexcartescolum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shadow {
  -webkit-box-shadow: 1px 4px 10px lightgray;
          box-shadow: 1px 4px 10px lightgray;
}

.nondecotexts {
  text-decoration: none;
  color: black;
}

.nondecocontact {
  text-decoration: none;
  color: #fff;
}

.greybackground {
  background-color: #f2f2f2;
}

.flexbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnprincipal {
  width: 220px;
  height: 53px;
  border-radius: 30px;
  color: whitesmoke;
  font-weight: normal;
  font-size: 16px;
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
  margin-top: 10px;
}

.btnprincipal:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#ff79d9d2));
  background-image: linear-gradient(to top, #9356DC, #ff79d9d2);
  -webkit-box-shadow: 1px 4px 3px #c5c5c5;
          box-shadow: 1px 4px 3px #c5c5c5;
}

.btnsecondaire {
  width: 310px;
  height: 75px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

/*loader*/
.loader_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeOut 5s;
          animation: fadeOut 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top: 0.5px solid #9356DC;
  border-bottom: 0.5px solid #9356DC;
  border-right: 7px solid #9356DC;
  border-left: 7px solid #9356DC;
  -webkit-animation: fadeOut 10s, rotate 2s linear infinite;
          animation: fadeOut 10s, rotate 2s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

/*navigation*/
.Nav {
  top: 0px;
  display: block;
  width: 100%;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 12.5px;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 6px #acacac;
          box-shadow: 0px 2px 6px #acacac;
}

.Nav img {
  display: block;
  margin: auto;
  width: 170px;
}

/*map*/
.margtop {
  margin-top: 4px;
}

.map {
  width: 100%;
  height: 50px;
  background-color: #e9e9e9;
  margin: auto;
  font-weight: bold;
}

.margicon {
  margin-right: 18px;
  color: #525252;
}

/*header*/
.headerwidth {
  width: 100%;
  height: 300px;
  text-align: center;
}

.h2reservez {
  margin: -20px 0px 0px 0px;
  width: 70%;
}

.pdecouvrez {
  font-size: 18px;
  color: #666666;
}

/*section1fonctionnement*/
.section1size {
  width: 100%;
  height: 370px;
  background: #fff;
}

.textfonctionnement {
  padding-top: 55px;
  font-size: 23px;
  padding-left: 15px;
  margin-top: 0px;
}

.section1numbers {
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 30px;
  margin-left: -20px;
}

.section1icons {
  width: auto;
  height: auto;
  font-size: 20px;
  margin-right: 25px;
  margin-left: 25px;
  color: #747474;
}

.btnsecondaire:hover {
  background-color: #dcc7f765;
}

.btnsecondaire:hover > .icon-color {
  color: #9356DC;
}

.icon-color:hover {
  color: #9356DC;
}

.nodeco {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

/*section2restaurants*/
.section2size {
  width: 100%;
  height: 1280px;
}

.textrestaurants {
  padding-top: 50px;
  padding-left: 20px;
}

.restaurantsblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxrestaurants {
  width: 90%;
  border-radius: 17px;
  -webkit-box-shadow: 6px 6px 5px #c5c5c5;
          box-shadow: 6px 6px 5px #c5c5c5;
  margin-bottom: 20px;
  cursor: pointer;
}

.cartebox {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.nouveauoverimg {
  position: relative;
}

.nouveaubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  font-size: 14px;
  font-weight: bold;
  color: #389261;
  background-color: #99E2D0;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.textcartebox {
  width: 90%;
  margin-left: 10px;
  margin-top: -5px;
  font-size: 13px;
}

.textcarte {
  font-weight: 750;
  font-size: 20px;
  margin-bottom: 10px;
}

.textcartesec {
  font-size: 19px;
  margin-top: -10px;
}

.heartover {
  position: relative;
}

.heart {
  cursor: pointer;
}

.hearticonbtn {
  position: absolute;
  font-size: 25px;
  top: 7px;
  right: 0PX;
}

.hearticonbtnfull {
  position: absolute;
  font-size: 25px;
  top: 7px;
  right: 0PX;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hearticonbtnfull:hover {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.footersize {
  width: 100%;
  height: 200px;
  background-color: #3d3c3c;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.footerimgsize {
  width: 105px;
  height: 18px;
  margin-top: 20px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.footeritemsaling {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -20px;
}

.padfootertext1 {
  padding-left: 10px;
}

.padfootertext2 {
  padding-left: 8px;
}

.martextfooter {
  margin-bottom: -5px;
}

.margfooter {
  margin-left: 20px;
}

/*menus*/
.arrowcolor {
  color: black;
}

.heartmenuanimation {
  position: absolute;
  font-size: 25px;
  top: 47px;
  right: 27PX;
}

.heartmenufullanimation {
  position: absolute;
  font-size: 25px;
  top: 47px;
  right: 27px;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heartmenufullanimation:hover {
  opacity: 1;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.Navmenu {
  top: 0px;
  width: 100%;
  background-color: #fff;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.Navmenu img {
  display: block;
  margin: auto;
  width: 170px;
  margin-left: 60px;
}

.backbtn {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.menutopimg {
  width: 100%;
  height: 250px;
}

.menuimgbox {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menusectionsize {
  width: 100%;
  height: 1200px;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  margin-top: -25px;
}

.menusectionsizelanote {
  width: 100%;
  height: 1285px;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  margin-top: -25px;
}

.menutexttop {
  padding-top: 40px;
  font-size: 26px;
  padding-left: 20px;
  margin-top: 0px;
}

.heartovermenu {
  position: relative;
}

.heartmenu {
  position: absolute;
  font-size: 25px;
  top: 45px;
  right: 40PX;
}

.menutextunderline {
  margin-left: 20px;
  border-bottom: 3px solid #99E2D0;
  width: 45px;
}

.btnmenustyle {
  margin-left: 15px;
  margin-right: 15px;
}

.menufadein1 {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.menufadein2 {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

.menufadein3 {
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
}

.menufadein4 {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stylebtnmenus1 {
  width: auto;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.stylebtnmenus2 {
  width: auto;
  padding-bottom: 5px;
  margin-top: -1px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.pricestyle {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: bold;
  padding-right: 15px;
}

.btnprincipalmenus {
  margin-top: 30px;
  margin-left: 80px;
  width: 50%;
}

.marginmenus {
  margin-top: 40px;
}

.btnsecondairemenus {
  width: 100%;
  height: 70px;
  border-radius: 22px;
  border: none;
  background-color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}

.btnsecondairemenus:hover > .animationbtnmenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  padding: 40px;
}

.btnsecondairemenus:hover > .btnmenupad {
  width: 65%;
}

.btnsecondairemenus:hover .animationcheck {
  -webkit-animation: rotate 0.75s linear;
          animation: rotate 0.75s linear;
}

.animationbtnmenu {
  height: 70px;
  position: relative;
  background: #99E2D0;
  border-radius: 0px 22px 22px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(75px);
          transform: translate(75px);
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.animationcheck {
  position: absolute;
  display: inline-block;
  font-size: 25px;
  color: #fff;
}

.btnmenupad {
  width: 90%;
}

/*responsive*/
@media screen and (min-width: 550px) {
  .section1size {
    height: 270px;
  }
  .textfonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flexcentrecolumbtn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 150px;
  }
  .btnsecondaire {
    min-width: 180px;
    margin: 20px;
  }
  .btnmenustyle {
    margin-left: 0px;
    margin-right: 0px;
  }
  .boxrestaurants {
    width: 70%;
  }
  .textrestaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-left: 0px;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footersize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 150px;
  }
  .margfooter {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footeritemsaling {
    margin-bottom: 0px;
  }
  .footerimgsize {
    width: 150px;
    height: 50px;
    margin-top: 0px;
  }
  .Navmenu img {
    width: 300px;
    margin-left: auto;
  }
  .menutexttop {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
  }
  .menutextunderline {
    margin-left: -2%;
  }
  .menusectionsize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .btnprincipalmenus {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 200px;
  }
  .btnsecondairemenus {
    width: 430px;
  }
  .section2size {
    height: 1330px;
  }
}

@media screen and (min-width: 992px) {
  .Nav {
    height: 80px;
    padding-bottom: 0px;
  }
  .Nav img {
    width: 300px;
  }
  .boxrestaurants {
    margin: 20px;
    width: 65%;
  }
  .flexcentrecolumbtn {
    margin-right: 100px;
    margin-left: 100px;
  }
}
/*# sourceMappingURL=main.css.map */